*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
    text-decoration: none;
    color: #ffffff;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ffffff;
}

